# COMMON FOR DOCKER IMAGES
DOCKER_IMAGES_OS_USERNAME=dockeruser
DOCKER_IMAGES_OS_USERUID=1000
DOCKER_IMAGES_OS_USERGID=1000

# ADMINER
POSTGRES_ADMINER_PORT=7999

# PRODUCT SERVICE
PRODUCT_SERVICE_PORT=8000
PRODUCT_SERVICE_DEBUGGER_PORT=8096
PRODUCT_SERVICE_LIVE_RELOAD_PORT=8097
PRODUCT_SERVICE_MONGO_PORT=8098
PRODUCT_SERVICE_MONGO_EXPRESS_PORT=8099

PRODUCT_SERVICE_MONGO_USERNAME=root
PRODUCT_SERVICE_MONGO_PASSWORD=root
PRODUCT_SERVICE_MONGO_HOST=product-service-mongo
PRODUCT_SERVICE_MONGO_DATABASE=product-service

# INVENTORY SERVICE
INVENTORY_SERVICE_PORT=8100
INVENTORY_SERVICE_DEBUGGER_PORT=8196
INVENTORY_SERVICE_LIVE_RELOAD_PORT=8197
INVENTORY_SERVICE_POSTGRES_PORT=8198

INVENTORY_SERVICE_POSTGRES_USERNAME=root
INVENTORY_SERVICE_POSTGRES_PASSWORD=root
INVENTORY_SERVICE_POSTGRES_HOST=inventory-service-postgres
INVENTORY_SERVICE_POSTGRES_DATABASE=inventory-service

# ORDER SERVICE
ORDER_SERVICE_PORT=8200
ORDER_SERVICE_DEBUGGER_PORT=8296
ORDER_SERVICE_LIVE_RELOAD_PORT=8297
ORDER_SERVICE_POSTGRES_PORT=8298

ORDER_SERVICE_POSTGRES_USERNAME=root
ORDER_SERVICE_POSTGRES_PASSWORD=root
ORDER_SERVICE_POSTGRES_HOST=order-service-postgres
ORDER_SERVICE_POSTGRES_DATABASE=order-service