<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <springProperty scope="context" name="appName" source="spring.application.name"/>
  <springProperty scope="context" name="lokiHostname" source="loki.hostname"/>
  <springProperty scope="context" name="lokiPort" source="loki.port"/>

  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <http>
      <url>http://${lokiHostname}:${lokiPort}/loki/api/v1/push</url>
    </http>
    <format>
      <label>
        <pattern>app=${appName},host=${HOSTNAME},traceID=%X{traceId:-NONE},spanID=%X{spanId:-NONE},level=%level</pattern>
      </label>
      <message>
        <pattern>${FILE_LOG_PATTERN}</pattern>
      </message>
      <sortByTime>true</sortByTime>
    </format>
    <!-- <verbose>true</verbose>
    <metricsEnabled>true</metricsEnabled> -->
  </appender>

  <root level="INFO">
    <springProfile name="!test">
      <appender-ref ref="LOKI"/>
    </springProfile>
  </root>
</configuration>
